.carousel {
  padding: 80px;
}

.swiper-slide {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  display: block;
}

/* overlay texto */
.overlay {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
}

@media (max-width: 768px) {
  .carousel {
    padding: 20px;
  }
}