---
import "../styles/global.css";
const GA_ID = import.meta.env.PUBLIC_GA_ID;
console.log("GA_ID desde Astro:", GA_ID);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>Miamoda Kickstarter DP-M2</title>
    <!-- Google tag (gtag.js) -->
    <!-- GA4 -->
    <script async src={"https://www.googletagmanager.com/gtag/js?id=" + GA_ID}></script>
    <script is:inline define:vars={{ GA_ID }}>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      window.gtag = gtag;

      gtag('js', new Date());

      gtag('config', "${GA_ID}", {
        debug_mode: true
      });

      console.log("GA_ID cargado:", "${GA_ID}");
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
